/*757575 - basic text
  212121 - header
  2F303A - footer and heroj fill
  FFFFFF - background studio
  2196F3 - accent
  000000 - logo text
  F5F4FA - fill of section Наша команда
  E5E5E5 - background portfolio
  rgba(255,255,255,0.6) - secondary text color
  F5F4FA - fill button*/

.page {background-color: FFFFFF;
        color: 757575;}
.site-nav a:hover{}
.link{color: 757575;}
.link :hover{color: 2196F3;}
.site-nav a{color: 212121;}
.site-nav a:hover{color: 2196F3;}