/*
  
  F5F4FA - fill of section Наша команда
  E5E5E5 - background portfolio
  rgba(255,255,255,0.6) - secondary text color
  F5F4FA - fill button*/
:root {--brand-color: #2196F3;
       --basc-text-color: #757575;
       --black-color: #212121;
       --wite-color: #FFFFFF;
       --light-black-color: #2F303A;
       --logo-text-color: #000000;
       --secondary-fill-color: #F5F4FA;
       --background-portfolio-color: #E5E5E5;
       --secondary-text-color: #rgba(255,255,255,0.6);} 


       a {text-decoration: none;}
       ul {list-style: none;}
  